/*
font-family: 'Kalam', cursive;
font-family: 'Damion', cursive;
font-family: 'Inconsolata', monospace;
font-family: 'Francois One', sans-serif;
font-family: 'Spectral', serif;
IndianRed
LightGray
*/
body{
  font-family: 'Spectral', serif;
}
.logo h2{
  font-family: Damion, serif;
}
h3{
  font-family: Inconsolata, sans-serif;
}
h1{
  font-family: 'Francois One', sans-serif;
}
form{
  font-family: 'Kalam', cursive;
}
