/*
font-family: 'Kalam', cursive;
font-family: 'Damion', cursive;
font-family: 'Inconsolata', monospace;
font-family: 'Francois One', sans-serif;
font-family: 'Spectral', serif;
IndianRed
LightGray
*/
body{
  font-family: 'Spectral', serif;
}
a{
  color: inherit;
  text-decoration: inherit;
}
p{
  text-indent: 2em;
}
.logo h2{
  font-family: Damion, serif;
  font-size: 32px;
  vertical-align: top;
  margin: -10px 0 0 0;
  padding: 0;
}
.logo h3{
  font-size: 10px;
  color: black;
}
.logoText{
  float:left;
  padding-left: 10px;
}
h3{
  font-family: Inconsolata, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: gray;
}
h1{
  font-family: 'Francois One', sans-serif;
  margin-bottom: 0;
}
form{
  font-family: 'Kalam', cursive;
  font-size: 20px;
}
.widthContainer{
  width: 90%;
  max-width: 901px;
  margin: auto;
}
.hero{
  width: 100%
}
.logo{
  float: left;
  padding-top: 10px;
}
.logo img{
  float: left;
}
.mediaNav{
  float: right;
}
.mediaNav li{
  display: inline-block;
}
.siteHeader{
  clear: both;
  overflow: auto;
}
.printLink{
  position: absolute;
  right: 0;
  bottom: 0;
}
.printLink img{
  display: inline;
}
.printLink h3{
  display: inline-block;
}
.pageHeader{
  position: relative;
  margin-bottom: 20px;
}
.recipe{
  background-image: url('images/list-bg.png');
  background-repeat: no-repeat;
  clear: both;
  overflow: auto;
  min-height: 305px;
}
.recipe ul{
  margin: 35px 25px 0 25px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-coulmn-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}
.recipe li{
  list-style-type: none;
}
.author{
  clear:both;
  overflow: auto;
}
.author img{
  float: left;
}
.authorText{
  float: left;
  width: 65%;
  padding-left: 10px;
}
.author h4{
  margin: 0;
  font-size: 18;
}
.author p{
  text-indent: 0;
  margin-top: 0.5em;
}
.author form{
  float: right;
}
.button{
  background-color: indianRed;
  font-family: 'Inconsolata', monospace;
  color: white;
  padding: 10px 20px;
  border: 0;
}
.lightHR{
  width: 100%;
  margin: 0 auto;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.copyright img{
  position:absolute;
  margin-top: -17px;
  margin-left: auto;
  margin-right: auto;
  left: 0
  right: 0;
  z-index: 10000;
}
.copyright{
  text-align: center;
  font-size: 12px;
  color: grey;
}
.copyright p{
  margin-top: 50px;
}
