body{
  border: 1px dotted black;
}
/*
font-family: 'Kalam', cursive;
font-family: 'Damion', cursive;
font-family: 'Inconsolata', monospace;
font-family: 'Francois One', sans-serif;
font-family: 'Spectral', serif;
IndianRed
LightGray
*/
